<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Listado de productos</title>
        <link rel="stylesheet" href="../css/formLoad.css">
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main>

        <div class="new-product">

            <h3>Crea un producto nuevo</h3>

            <form action="./create" method="post" enctype="multipart/form-data">

                <label for="name">Nombre del producto</label>
                <input class="icon-register" type="text" name="name">
                
                <label for="categoria">Tipo de producto</label>
                <label class="categories" for="categoria">
                    <input type="radio" name="categoria" value="Plantas" id="Plantas">Plantas
                    <input type="radio" name="categoria" value="Macetas" id="Macetas">Macetas
                    <input type="radio" name="categoria" value="Accesorios" id="Accesorios">Accesorios
                    <input type="radio" name="categoria" value="Sustratos" id="Sustratos">Sustratos
                </label>
                

                <label for="precio">Descripción</label>
                <textarea class="icon-register" name="descripcion"></textarea>

                <label for="precio">Precio</label>
                <input class="icon-register" type="price" name="precio">

                <label for="cantidad">Cantidad</label>
                <input class="icon-register" type="number" name="cantidad">

                <label for="image">Imagen</label>
                <input class="icon-register" type="file" name="image" id="image">

                <label class="categories" for="disponible">Disponible
                    <input type="radio" name="disponible" value="Disponible">Sí
                    <input type="radio" name="disponible" value="No disponible">No
                </label>


                <button class="load-button" type="submit">Crear producto</button>
            </form>
        </div>

    </main>

    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
</body>

</html>