<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head") %>
    <title>Shopping Cart e-Terra</title>
    <link rel="stylesheet" href="/css/ProductCart.css" />
  </head>
  <script
    src="https://kit.fontawesome.com/2ba480a08c.js"
    crossorigin="anonymous"
  ></script>

  <body>
    <div class="to-fix">
      <header>
        <%- include('../partials/header.ejs')  %> 
      </header>
    </div>

    <main>
      <section>
        <p class="next">Tus próximas compras</p>
        <div class="product titular">
          <li class="product-info p">Producto</li>
          <li class="quantity ca">Cantidad</li>
          <li class="cost co">Costo</li>
          <li class="clean">
            <button class="button-clean">Vaciar carrito</button>
          </li>
        </div>

        <div class="product">
          <div class="product-info">
            <div class="product-description">
              <img
                class="product-image"
                src="/Images/product-begonia-maculata.png"
                alt=""
              />
              <p>Begonia maculata</p>
            </div>
          </div>
          <div class="details">
            <li class="quantity">
              <span class="mobile">Cantidad: </span> - 1 +
            </li>
            <li class="cost"><span class="mobile">Precio: </span>$1200</li>
            <li class="clean"><i class="fa-solid fa-trash"></i></li>
          </div>
        </div>

        <div class="product">
          <li class="product-info">
            <div class="product-description">
              <img
                class="product-image"
                src="/Images/product-syngonium.png"
                alt=""
              />
              <p>Syngonium</p>
            </div>
          </li>
          <div class="details">
            <li class="quantity">
              <span class="mobile">Cantidad: </span> - 1 +
            </li>
            <li class="cost"><span class="mobile">Precio: </span>$1200</li>
            <li class="clean"><i class="fa-solid fa-trash"></i></li>
          </div>
        </div>
      </section>

      <section class="to-pay">
        <div>
          <span class="total">Total:</span>
          <span class="total">$2000</span>
        </div>
        <div><button class="pay">Ir a pagar</button></div>
        <!-- </div>
      </li> -->
      </section>

      <div>
        <ul class="bottom-nav">
          <li class="bottom"><a class="label-btm" href="/"><i class="fa-solid fa-house"></i></a></li>
              <li class="bottom"><a class="label-btm" href="../users/register"><i class="fa-solid fa-user"></i></a></li>
              <li class="bottom"><a class="label-btm" href="list"><i class="fas fa-bars"></i></a></li>
              <li class="bottom"><a class="label-btm" href="cart" class="user"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
      </div>
    </main>
<footer>
    <%- include ("../partials/footer.ejs") %>
  </footer>  
  </body>
</html>
