<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TERRA</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
    <header>
            <div>
              <img class="logo" src="/Images/logo_4.svg" alt="" />
            </div>
                <div class="form" action="#" method="GET">
                    <input class="input" type="text" readonly value = "Buscar" />
                    <span class="submit"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
        <nav class="nav-bar">
            <a href="/login.html" target="_blank">Inicia sesion</a>
            <a href="/register.html" target="_blank">Registro</a>
            <a href="/ProductDetail.html" target="_blank">Producto </a> 
            <a href="/ProductCart.html" target="_blank">Carrito</a>
        </nav>
    </header>
    <main>

        <h2 class="title">CATEGORIAS</h2>
         <section class="categories">
            <div>
                <img class="img-categories" src="/Images/bonsai_2.jpg" alt="">
                <div class="img-text">
                    <h3>Interior</h3>
                </div>
            </div>
            <div>
                <img class="img-categories" src="/Images/rosas_1.jpg">
                <div class="img-text">
                    <h3>Exterior</h3>
                </div>
            </div>
            <div>
                <img class="img-categories" src="/Images/macetas.jpg" alt="">
                <div class="img-text">
                    <h3>Macetas</h3>
                </div>
            </div>
            <div>
                <img class="img-categories" src="/Images/germinando.jpg"alt="">
                <div class="img-text">
                    <h3>Sustratos</h3>
                </div>
            </div>
            <div>
                <img class="img-categories" src="/Images/regalos.jpg" alt="">
                <div class="img-text">
                    <h3>Accesorios</h3>
                </div>
            </div>
        </section> 

        <h2 class="title">MAS VENDIDOS</h2>
        <section class="sales">
            <div>
                <img class="img-sales" src="/Images/bonsai_1.jpg" alt="">
                <div class="img-text">
                    <h3>Bonsai</h3>
                </div>
            </div>
            <div>
                <img class="img-sales" src="/Images/orquidea_2.jpg" alt="">
                <div class="img-text">
                    <h3>Orquidea</h3>
                </div>
            </div>
            <div>
                <img class="img-sales" src="/Images/tulipanes.jpg" alt="">
                <div class="img-text">
                    <h3>tulipanes</h3>
                </div>    
            </div>
            <div >
                <img class="img-sales" src="/Images/suculenta_1.jpg" alt="">    
                <div class="img-text">
                    <h3>Suculentas</h3>
                </div>
            </div>
            <div>
                <img class="img-sales" src="/Images/potus.jpg" alt="">
                <div class="img-text">
                    <h3>Potus</h3>
                </div>
            </div>
        </section>
        <section>
            <div class="news-box">
                <img class="img-news" src="/Images/staff.jpg" alt="">
                <div class="news-text">
                    <h3>NOVEDADES</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo velit animi tempora eius sit molestiae eligendi natus, quasi illo id, debitis voluptates doloribus nulla facere aliquid repellat voluptatem magnam modi!</p>
                </div>
            </div>
        </section> 
    </main>
    <footer>
        <nav class="nav-footer">
            <a href="" target="_blank"> Terminos y Condiciones</a>
            <a href="" target="_blank"> Contacto</a>
            <a href="" target="_blank"> Preguntas Frecuentes</a> 
        </nav> 
        <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <h2 class="final-title">&copy; Hecho con <i class="fa-solid fa-leaf"></i> por e-Terra Team</h2>
    </footer>
</body>
</html>