<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TERRA</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
</head>
<body>
    <header>
        <a href=""></a>
            <div class="logo">
                <img src="/Images/logo-sin-flor.png" width="230px" heigth="200" alt="" />
            </div>
            <div class="form" action="#" method="GET">
                <input class="input" type="text" readonly value = "Buscar productos, marcas y más"/>
                <span class="submit"><i class="fa-solid fa-magnifying-glass"></i></span>
            </div>
        <nav>
            <section>
                <ul class="nav-bar">
            <a class="nav-bar-a" href="/login.html"><li>Login</li></a>
            <a href="/register.html"><li>Registro</li></a>
            <a href="/ProductDetail.html"><li>Producto</li></a>
            <a href="/ProductCart.html"><li>Carrito</li></a>
            </ul>
        </section>
        <section>
        <ul class="user-icons">
            <a href="/login.html" class="shopping-car">
            <li><i class="fa-solid fa-user"></i></li>
            </a>
            <a href="/ProductCart.html" class="user">
            <li><i class="fa-solid fa-cart-shopping"></i></li>
            </a>
        </ul>
    </section>
</nav>
    </header>
    <main>
        <h2 class="title">CATEGORIAS</h2>
        <section class="container">
            <div class="container-categories">
                <img class="img-categories" src="/Images/potus_ok.jpeg" width="200" heigth="150" alt="">
                <h3 class="img-text">Interior</h3>
            </div>
                <div>
                <img class="img-categories" src="/Images/bonsai_ficus.jpeg" width="200" heigth="150" alt="">
                <h3 class="img-text">Exterior</h3>
            </div>
            <div>
                <img class="img-categories" src="/public/Images/macetas.jpeg" width="200" heigth="150" alt="">
                <h3 class="img-text">Macetas</h3>
            </div>
                <div>
                <img class="img-categories" src="/Images/sustratos_2.jpeg" width="200" heigth="150" alt="">
                <h3 class="img-text">Sustratos</h3>
            </div>
            <div>
                <img class="img-categories" src="/Images/acces_set.jpeg" width="200" heigth="150" alt="">
                <h3 class="img-text">Accesorios</h3>
            </div>
            </div>
        </section> 
        <!--<section>
            <h2 class="title">MAS VENDIDOS</h2>
            <div class="sales">
                <img class="img-sales" src="/Images/bonsai_1.jpg" alt="">
                    <h3 class="img-text">Bonsais</h3>
                <img class="img-sales" src="/Images/orquidea_2.jpg" alt="">
                
                    <h3 class="img-text">Orquideas</h3>
                <img class="img-sales" src="/Images/tulipanes.jpg" alt="">
                
                    <h3 class="img-text">Tulipanes</h3>
                <img class="img-sales" src="/Images/suculenta_1.jpg" alt="">    
                
                    <h3 class="img-text">Suculentas</h3>
                <img class="img-sales" src="/Images/potus.jpg" alt="">
                
                    <h3 class="img-text">Potus</h3>
                </div>
        </section>
        <section>
            <div class="news-box">
                <img class="img-news" src="/Images/staff.jpg" alt="">
                <div class="news-text">
                    <h3>NOVEDADES</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo velit animi tempora eius sit molestiae eligendi natus, quasi illo id, debitis voluptates doloribus nulla facere aliquid repellat voluptatem magnam modi!</p>
                </div>
            </div>
        </section> 
            <div class="social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
    </main>
    <footer class="container">
        <div>
            <div class="footer-elements">
                <ul class="bottom-nav">
                    <li>Terminos y Condiciones</li>
                    <li>Contacto</li>
                    <li>Preguntas Frecuentes</li> 
                </ul> 
                <h2 class="final-title">&copy; Hecho con <i class="fa-solid fa-leaf"></i> por e-Terra Team</h2>
            </div>
        </div>
    </footer>
</body>
</html>