<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>e-terra</h1>
    /*buscador*/
    /*logo*/
    <header>
        <nav>
            <a href="/login.html" target="_blank">log in</a>
            <a href="/register.html" target="_blank">Registro</a>
            <a href="/ProductDetail.html" target="_blank"> Producto </a> 
            <a href="/ProductCart.html" target="_blank"> Carrito de compras </a>
            <a href="/index.html" target="_blank"> Home </a>
        </nav>
    </header>
    <main>
        <!-- <section class="categories">
            <h2 class="title">CATEGORIAS</h2>
            <div class="img-categories">
                <img src="/Images/bonsai_2.jpg" alt="" class="img-interior">
                <div class="img-text">
                    <h3>Interior</h3>
                </div>
            </div>
            <div class="img-categories">
                <img src="/Images/rosas_1.jpg" alt="" class="img-exterior">
                <div class="img-text">
                    <h3>Exterior</h3>
                </div>
            </div>
            <div class="img-categories">
                <img src="/Images/macetas.jpg" alt="" class="img-macetas">
                <div class="img-text">
                    <h3>Macetas</h3>
                </div>
            </div>
            <div class="img-categories">
                <img src="/Images/germinando.jpg" alt="" class="img-sustratos">
                <div class="img-text">
                    <h3>Sustratos</h3>
                </div>
            </div>
            <div class="img-categories">
                <img src="/Images/regalos.jpg" alt="" class="img-sustratos">
                <div class="img-text">
                    <h3>Accesorios</h3>
                </div>
            </div>
        </section> -->
        <section class="sales">
            <h2 class="title">MAS VENDIDOS</h2>
            <div class="img-text">
                <h3>BONSAI</h3>
            </div>
            <div class="img-sales">
                <img class="prueba" src="/Images/bonsai_1.jpg" alt="">
            </div>
            <!-- <div class="img-text">
                <h3>ORQUIDEA</h3>
            </div>
            <div class="img-sales">
                <img src="/Images/orquidea_2.jpg" alt="">
                <div class="img-text">
                    <h3>tulipanes</h3>
                </div>    
            <div class="img-sales">
                <img src="/Images/tulipanes.jpg" alt="">
            </div>    
                <div class="img-text">
                    <h3>Suculentas</h3>
                </div>
            <div class="img-sales">
                <img src="/Images/suculenta_1.jpg" alt="">
            </div>
                <div class="img-text">
                    <h3>Potus</h3>
                </div>
            <div class="img-sales">
                <img src="/Images/potus.jpg" alt="">
            </div> -->
        </section>
        <!-- <section>
            <div class="news-box">
                <img src="/Images/staff.jpg" alt="">
                <div class="news-text">
                    <h3>NOVEDADES</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo velit animi tempora eius sit molestiae eligendi natus, quasi illo id, debitis voluptates doloribus nulla facere aliquid repellat voluptatem magnam modi!</p>
                </div>
            </div>
        </section> -->
    </main>
    <footer>
        <nav>
            <a href="" target="_blank"> Terminos y Condiciones</a>
            <a href="" target="_blank"> Contacto</a>
            <a href="" target="_blank"> Preguntas Frecuentes</a> 
        </nav> 
        <h2 class="final-title">&copy; Creado con (corazon) por e-Terra Team</h2>
    </footer>
</body>
</html>