<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>log in</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <a href="/index.html">
      <img  class="logo-header" src="/Images/logo-sin-flor.png" alt="" />
    </a>
    <div class="form-logo" action="#" method="get">
      <input class="input" type="text" readonly value = "Buscar productos, marcas y más" />
      <span class="submit"><i class="fa-solid fa-magnifying-glass"></i></span>
  </div>
    </header>
  <nav>
    <div class="links-generales">
      <a href=""><article>All</article></a>
      <a href=""><article>Ofertas</article></a>
      <a href=""><article>Novedades</article></a>
      <a href=""><article>Historial</article></a>
      <a href=""><article>Ayuda</article></a>
    </div>
  </nav>
    <main>
      <h1 class="form-title">Iniciá Sesión</h1>
      <h3 class="form-title2">Que bueno que volviste!</h3>
      <form action="/login" method="post">
        <label class="usuario">
          <i class="fa-solid fa-user"></i></label>
        <input
          type="text"
          name="Usuario"
          placeholder="Enter Username"
          required
        />
        
        <label class="candado">
          <i class="fa-solid fa-lock"></i></label>
        <input
          type="password"
          name="contraseña"
          placeholder="Contraseña"
          required
        />
        <a class="olvidaste-contraseña" href="#">Olvidaste tu contraseña?</a>
        <button type="submit">Iniciar Sesion</button>
      </form>

      <div class="registro">No estas registrado? <a href="/register.html">registrate</a></div>

      <div>
        <ul class="bottom-nav">
            <li class="bottom"><i class="fa-solid fa-house"></i></li>
            <li class="bottom"><i class="fa-solid fa-user"></i></li>
            <li class="bottom"><i class="fas fa-bars"></i></li>
            <li class="bottom"><i class="fa-solid fa-heart"></i></li>
        </ul>
    </div>
    </main>

    <footer>
      <ul class="ul-footer">
        <li>Términos y condiciones</li>
        <li>Preguntas frecuentes</li>
        <li>Contacto</li>
    </ul>
    <p>
        Creado con ♡ por e-Terra
    </p>
    </footer>
  </body>
</html>
