<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart e-Terra</title>
    <link rel="stylesheet" href="/css/ProductCart.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="grid-conteiner">
    <header class="header">
      <div class="titulo">
        <h1><a class="titulo" href="/index.html">Terra</a></h1>
      </div>
      <div class="buscar">
        <input type="text" placeholder="Buscar" />
      </div>
    </header>
    <nav class="navbar">
      Nav bar
      <div class="links-generales">
        
        <article>All</article>
        <article>Ofertas</article>
        <article>Novedades</article>
        <article>Historial</article>
        <article>Ayuda</article>
      </div>
    </nav>
    <aside class="sidebar">sidebar</aside>
    <article class="main">Main</article>
    <footer class="footer">
      Footer Hecho con
      <ion-icon name="heart-half-outline"></ion-icon>
    </footer>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
