<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart e-Terra</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h1 class="titulo">Terra</h1>
    
    <h3 id="link"> llevame a home </h3>
    <!-- <ul>
      <li><a href="views/home.html"></a></li>
    </ul> -->

    
    <div class="container">
      <input type="text" placeholder="Buscar" />
      <div class="btn">
        <i class="fa fa-search"> </i>
      </div>
    </div>

    <main class="imagen"></main>
    <nav class="nav_bar">All Ofertas Novedades Historial Ayuda</nav>
    <img src="/Proyecto-Integrador/" alt="" />
  </body>
</html>
