<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Shopping Cart e-Terra</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/ProductCart.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <script
    src="https://kit.fontawesome.com/2ba480a08c.js"
    crossorigin="anonymous"
  ></script>

  <body class="general-conteiner">
    <div class="to-fix">
      <header>
        <a href="/index.html" class="logo">
          <img class="logo" src="/Images/logo-sin-flor.png" alt="" />
        </a>
        <div class="form" action="#" method="get">
          <input
            class="input"
            type="text"
            readonly
            value="Buscar productos, marcas y más"
          />
          <span class="submit"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></span>
        </div>
      </header>

      <section class="nav-bar">
        <ul>
          <li>Home</li>
          <li>Registro</li>
          <li>Login</li>
          <li>Producto</li>
          <li>Carrito</li>
        </ul>

        <ul class="user-icons">
          <a href="/login.html" class="carrito">
            <li><i class="fa-solid fa-user"></i></li>
          </a>
          <a href="/ProductCart.html" class="user">
            <li><i class="fa-solid fa-cart-shopping"></i></li>
          </a>
        </ul>
      </section>
    </div>

    <main>
      <div class="product1">aquí está tu primer compra</div>
      <div class="product2">aquí está tu segunda compra</div>
    </main>
    <footer class="footer">
      <div class="resumen">
        <article class="descuento">Cupón Descuento</article>
        <h5 class="info-descuento">Sí tienes cupón ingresaló</h5>
        <article class="codigo">
          <input type="number" placeholder="ingresa el codigo" />
        </article>
      </div>
      <div class="total-carrito">
        <h3 class="total">Total Carrito</h3>
        <h4 class="subtotal">Sub-total= $0000</h4>
        <h4 class="envio">Costo envío= $0000</h4>
      </div>
      <h2 class="gran-total">Total $0000</h2>
      <div class="redes">
        <h4 class="info-redes">
          Seguínos
          <br />
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-linkedin"></i>
        </h4>
      </div>
      <div class="anuncios">
        <article>
          Preguntas frecuentes <i class="fa-regular fa-question"></i>
        </article>
        <article>
          Todos los derechos <i class="fa-regular fa-registered"></i>
        </article>
        <article>Contacto 234235235</article>

        <article>Hecho con <i class="fa-solid fa-leaf"></i></article>
        grupo 6 DH TN-52
        <i class="fa-solid fa-heart"></i> -->
    </div> 
    </footer>
  </body>
</html>
