<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">

    <title>Registro</title>
</head>
<body>
    <h1 class="prueba ">Registro</h1> 
    <h2 class= "cuenta">Crear cuenta</h2>
    <p> <h4 class = "parrafo"> Crea tu usuario para controlar tus pedidos y comprar mas rapido tus plantas favoritas ! </h4> </p>
    <form action = "/register.html"></form>
        <div class= "usuario"> 
        <label> Usuario:</label>
        <input type = "text" name = "nombreUsuario">
        </div>
        <div class="email"> 
        <label> Email : </label>
        <input type = "email" name = "emailUsuario">
        </div>
        <div class="contraseña ">
        <label> Contraseña: </label>
        <input type  = "password" name = "contraseñaUsuario">
        </div>
        <div class = "contraseñaconfirmar">
        <label> Confirmar contraseña: </label>
        <input type = "password" name ="confirmarContraseña">
         </div>
        <div class = "tel">
         <label> Telefono(opcional): </label>
         <input type = "tel" name = "telefonoUsuario">
        </div>
        <button type = "submit" > CREAR CUENTA </button>
        

</body>
</html>