footer {
    color: white;
    background-color: #805781;
    padding: 5px 0px;
    width: 100vw;
  }

  .foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 8vw 40px 8vw;
  }

li {
  color: white;
}
  
  .footer-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
    font-size: 20px;
  }
  
  .terms {
    padding-right: 20px;
    border-right: white 2px solid;
  }
  .terms :hover{
    color: white;
    font-size: 23px;
  }
  
  .hecho-con-amor {
    /* padding-left: 20px; */
    color: white;
    font-size: 20px;
    margin-top: 5px;
  }

  .hecho-con-amor i {
    color: white;
  }
  h4 {
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    padding-top: 8px;
  }
  
.footer-social-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-facebook :hover{
  color: white;
  font-size: 23px;
}
.social-instagram :hover{
  color: white;
  font-size: 23px;
}
.social-twiter :hover{
  color: white;
  font-size: 23px;
}

.icon-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.icon-container:hover {
  background-color: #A3B18A;;
}


