main {
    width: 100vw;
    background-color: #988AB1;
}

h3 {
    font-family: roboto;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 330px;
    color: white;
    text-align: left;
    margin-top: 10px
}

input {
    border: white;
    width: 150px;
    padding-left: 8px;
    font-size: 15px;
    color: #344E41;
    font-family: roboto;
}

.icon-register {
    background-color: white;
    border: white solid 1px;
    padding: 5px;
    padding-left: 7px;
    font-size: 14px;
    border-radius: 15px;
    margin: 10px 0px;
    width: 200px;
}

.categories {
    display: flex;
    flex-direction: raw;
    margin-bottom: 5px;
}

.new-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #988AB1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.input2 {
    border: white;
    width: 330px;
    padding-left: 8px;
    font-size: 16px;
    color: #344E41;
    font-family: roboto;
}

.icon-register {
    background-color: white;
    border: white solid 1px;
    padding: 5px;
    padding-left: 7px;
    font-size: 14px;
    border-radius: 15px;
    margin: 10px 0px;
    width: 350px;
    color: #344E41;
}

.description {
    font-family: roboto;
    font-size: 17px;
    padding-left: 8px;
    color: #344E41;
    border: white solid 1px;
    width: 330px;
}

.cat-type {
    font-size: 18px;
    padding-left: 15px;
    color: white;
    font-family: roboto;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 18px;
    margin-left: 15px;
    color: white;
    font-family: roboto;
    gap: 10px;
    margin: 5px 0px;
}

.load-button {
    width: 200px;
    margin-top: 15px;
    border: #344E41;
    border-radius: 18px;
    background-color: #344E41;
    color: white;
    padding: 10px;
    font-size: 16;
    font-family: roboto;
    font-size: 16px;
}

.category {
    display: flex;
    flex-direction: column;
}

.cb {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
}

.check {
    margin-left: 10px;
}

@media (min-width:481px) {

    label {
        width: 400px;
    }

    .icon-register {
        width: 400px;
    }
}

@media (min-width:769px) {

    label {
        width: 600px;
    }

    .icon-register {
        width: 600px;
    }

}