color {

  color:#DAD7CD;
  color: #E5F7E4;
  color:#A3B18A;
  color:#588157;
  color:#3A5A40;
  color:#344E41;
  color: #F0CA7A;
  color: #988AB1;
  color: #805781;
  color: rgb(182, 73, 52);
}

/* BODY */

*{
  margin: 0;
  padding: 0;
  font-family:"Roboto";
  box-sizing: border-box;
  list-style-type: none;
  list-style: none;
  position: relative;
}

body {
  width: 100vw;
}

/* -------------------------HEADER-------------------------- */
.banner-container {
  width: 100vw;
  /* height: 550px; */
}

.banner {
  object-fit: contain;
  width: 100%;
  /* min-height: 310px; */
}

.logo {
  width: 20vw;
  position: absolute;
  left: 25px;
  top: 4vh;
}

.main-text-left {
  width: 25vw;
  position: absolute;
  left: 53px;
  top: 13vh;
}

.nav-bar, .nav-search {
  display: none;
}

.bottom-nav {
  width: 100vw;
  padding: 7px 15vw;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  background-color: #E5F7E4;
  font-size: 25px;
  color: #344E41;
  gap: 50px;
  z-index: 5;
}

.fa-cart-shopping, .fa-house, .fa-user, .fa-bars {
  color: #344E41;
  position: relative;
  top: 3px;
}

.icon-header {
  color: white;
}

/* -------------------------MAIN CATEGORIES-------------------------- */

.cat-titles {
  font-size: 40px;
  font-family: roboto;
  margin: 10px 20px;
  color: rgb(182, 73, 52);
  font-weight: bolder;
}

.categories {
  margin: 15px 5vw 15px 5vw;
}

.cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 20px 0px;
}

.img-cat {
  width: 260px;
  /* position: absolute; */
  top: 15px;
  left: 15px;
  /* z-index: 3; */
  box-shadow: -15px -15px #805781;
  /* border-radius: 150px; */
}

.description {
  color: #805781;
  font-size: 30px;
  margin-top: 15px;
  font-weight: bold;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  list-style: none;
}

/* -------------------------MAIN BEST SELLERS-------------------------- */

.best-sellers {
  width: 100vw;
  padding: 30px 10vw 50px 10vw;
  background-color: rgb(182, 73, 52);
}

.bs-titles {
  font-size: 40px;
  font-family: roboto;
  margin: 0px 20px 20px 20px;
  color: white;
  font-weight: bolder;
}

.bs-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  box-shadow: -2px 2px #805781;
  margin: 20px 0px;
  width: 250px;
  position: relative;
}

.product-img {
  width: 250px;
}

.product-info {
  background-color: white;
  margin: 10px;
}

.product-description, .price {
  font-size: 20px;
  color: #344E41;
  margin: 0px 5px;
}

.add {
  background-color: #805781;
  border: #805781 solid 1px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  transition-duration: 10ms;
  opacity: 100%;
  color: white;
  position: absolute;
  right: 15px;
  bottom: -30px;
}

.create{
  background-color: #344E41;
    border: #805781 solid 1px;
    padding: 8px;
    font-size: 13px;
    border-radius: 6px;
    transition-duration: 10ms;
    opacity: 100%;
    /* gap: 1px; */
    color: white;
}

/* -------------------------CONTENEDOR CATÁLOGO-------------------------- */

.catalogue {
  padding: 30px 10vw 50px 10vw;
}

.ct-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .bottom-nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 3vw;
  background-color: #E5F7E4;
  color: #344E41;
} */

/*--------------TABLET------------*/

@media (min-width:481px) {

  /* ----------------------------BANNER---------------------------- */

  .banner-container {
    width: 100vw;
    /* height: 550px; */
  }
  
  .banner {
    object-fit: contain;
    width: 100%;
    /* min-height: 310px; */
  }
  
  .logo {
    width: 20vw;
    position: absolute;
    left: 20px;
    top: 3vh;
  }
  
  .main-text-left {
    width: 25vw;
    position: absolute;
    left: 40px;
    top: 17vh;
  }

  /* ----------------------------NAV BAR---------------------------- */
  .label {
    text-decoration: none;
    list-style: none;
    color: white;
    border-right: 1px white solid;
    padding-right: 11px;
  }

  a {
    color: #344E41;
  }

  .label-btm {
    text-decoration: none;
    list-style: none;
    color: #344E41;
    border-right: 1px white solid;
    padding-right: 11px;
  }

  .avatar-nav { /*Imagen + nombre de usuario */
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .avatar-img-nav { /* Estilo imagen */
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .username-nav{
    padding-left: 6px;
    color: white;
    font-size: 16px;
  }

  /* .labelbot {
    text-decoration: none;
    list-style: none;
    color: #344E41;
    padding-right: 10px;
  }

  .labelbot, .fa-solid {
    text-decoration: none;
    list-style: none;
    color: #344E41;
  } */

  /* a:-webkit-any-link {
    color: #344E41;
    text-decoration: none;
  } */
  
  .label-icon {
    text-decoration: none;
    list-style: none;
    color: white;
    padding-right: 10px;
  }
}

/*--------------DESKTOP------------*/
@media (min-width:769px) {

  .nav-bar {
    display: flex;
    padding: 10px 0px;
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
  }

  .nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 3vw;
    background-color: #805781;
    color: white;
    /* height: 50px; */
  }
  
  .form {
    background-color: white;
    border: white solid 1px;
    padding: 5px;
    padding-left: 7px;
    font-size: 14px;
    border-radius: 15px;
    margin: 10px 0px;
    width: 31vw;
  }
  
  .fa-magnifying-glass {
    color: #344E41;
  }
  
  .input {
    border: white;
    width: 25vw;
    padding-right: 5px;
    border-right: grey solid 1px;
    font-size: 15px;
    color: grey;
    font-family: roboto;
  }

  .bottom-nav {
    display: none;
  }

  .products, .ct-products, .bs-products {
    justify-content: space-around;
  }
  /* ----------------------------BANNER---------------------------- */
  .banner-container {
    width: 100vw;
    /* height: 550px; */
  }
  
  .banner {
    object-fit: contain;
    width: 100%;
    /* min-height: 310px; */
  }
  
  .logo {
    width: 20vw;
    position: absolute;
    left: 50px;
    top: 7vh;
  }
  
  .main-text-left {
    width: 25vw;
    position: absolute;
    left: 115px;
    top: 30vh;
  }

  /* ----------------------------NAV BAR---------------------------- */
  .label {
    text-decoration: none;
    list-style: none;
    color: white;
    border-right: 1px white solid;
    padding-right: 11px;
    }
    
    .label-icon {
      text-decoration: none;
      list-style: none;
      color: white;
      padding-right: 10px;
    }
  
    .nav-bar {
      display: flex;
      padding: 10px 0px;
      gap: 10px;
      font-size: 20px;
      font-weight: 400;
    }
  
    .nav-search {
      width: 100vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 0px 3vw;
      background-color: #805781;
      color: white;
      /* height: 50px; */
      position: fixed;
      z-index: 2;
    }
    
    .form {
      background-color: white;
  border: white solid 1px;
  padding: 5px;
  padding-left: 7px;
  font-size: 14px;
  border-radius: 15px;
  /* margin: 10px 0px; */
  width: 250px;
    }
    
    .fa-magnifying-glass {
      color: #344E41;
    }
    .icon-user-cart{
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 22px;
    }
    
    .input {
      border: white;
  width: 200px;
  padding-right: 5px;
  border-right: grey solid 1px;
  font-size: 15px;
  color: grey;
  font-family: roboto;
    }
  
}

@media (min-width:915px) {

  .main-text-left {
    top: 32vh;
  }
}