* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* BODY */

.container {
  font-family:"Roboto";
}
/* HEADER */
.logo {
  width: 50%;
  padding: 10px;
  margin-top: 80px;
  align-items: center;
}

nav {
  align-content: space-between;
}
/* MAIN */
main .img-categories {
  width: 10px;
}

.prueba {
  width: 300px;
  height: 300px;
  border: dashed red 2px;
  
}
/* FOOTER */
