@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none
}
header{
   display: flex;
   justify-content: center;
}

.logo-header{
   width: 265px;
   margin-top: 30px;
}
nav{
   display: none;
}

.links-generales{
   display: flex;
   gap: 22px;
   font-size: 19px;
   justify-content: center;
   margin-top: 25px;
}
body {
    width: 70vw;
    margin: 0px auto;
    margin-top: 20px;
    background-color: #E5F7E4;
}

main{
   display: flex;
   align-items: center;
   min-height: 80vh;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   font-size: 21px;
   line-height: 46px;
   font-family:"Roboto";
}

 .form-title{
    color: #344E41;
    text-align: center;
    font-size: 40px;
 }
 .form-title2{
    color: #344E41;
    text-align: center;
 }

 form{
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 input{
    margin-top: -5px;
 }
.fa-lock{
   margin-bottom: 10px;
    width: 159px;
    font-size: 20px;
    position: relative;
    top: 28px;
    right: 28px;
}
.fa-user{
   margin-bottom: 10px;
   width: 153px;
   font-size: 18px;
   position: relative;
   top: 29px;
   right: 30px;
}
.olvidaste-contraseña{
   font-size: 15px;
}

 button{
    margin-top: 10px;
 }

 .ul-footer{
   display: flex;
   padding-right: 3px;
    gap: 10px;
 }

 footer{
   margin-top: 15px;
 }