@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none
}
header{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    position: relative;
}

.logo-header{
   width: 265px;
   margin-top: 30px;
}
.form-logo{
   background-color: white;
   border: grey solid 1px;
   padding: 10px;
   font-size: 14px;
   border-radius: 5px;
   margin: 10px 0px;
}
nav{
   display: none ;
}

.links-generales{
   display: flex;
    gap: 22px;
    font-size: 19px;
    justify-content: center;
    margin-top: 25px;
    padding: 4px;
}
a{
   text-decoration: none;
}
body {
    width: 70vw;
    margin: 0px auto;
    margin-top: 20px;
    background-color: #E5F7E4;
}

main{
   display: flex;
   align-items: center;
   min-height: 80vh;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   font-size: 21px;
   line-height: 46px;
   font-family:"Roboto";
}
.usuario{
   position: relative;
   top: 31px;
   right: 124px;
   color: #344E41;
}

.candado{
   position: relative;
    top: 31px;
    right: 123px;
    color: #344E41;
}

 .form-title{
   color: #344E41;
   text-align: center;
   font-size: 35px;
   font-weight: lighter;
 }
 .form-title2{
   color: #344E41;
   text-align: center;
   font-size: 19px;
   font-weight: lighter;
 }

 form{
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 input{
   margin-top: -5px;
   font-size: 17px;
   border-radius: 0px;
 }

.olvidaste-contraseña{
   font-size: 13px;
}

 button{
   margin-top: 10px;
   font-size: 20px;
   background-color: #392b4f;
   color: white;
}

 .registro{
   font-size: 14px;
 }

 .ul-footer{
   display: flex;
   padding-right: 3px;
    gap: 10px;
 }

 footer{
   margin-top: 15px;
 }
 .bottom-nav {
   display: flex;
   justify-content: space-between;
   position: relative;
   right: 34px;
   top: 138px;
   font-size: 25px;
   color: grey;
   gap: 80px;
   width: 70vw;
}



 @media (min-width:481px){
   nav{
      display: flex;
    gap: 22px;
    font-size: 19px;
    justify-content: center;
    border-bottom: 1px solid;
    padding: 7px;
   }

   .bottom-nav{
      display: none;
   }
 }