* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  list-style-type: none;
  color: #344E41;
}

main {
  width: 100vw;
  padding: 30px 10vw 30px 10vw;
  background-color: rgb(182, 73, 52);
}

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px, 0px;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 3px rgb(182, 73, 52) solid;
  padding: 15px 0px;
  background-color: aliceblue;
}

.titular {
  background-color: rgb(182, 73, 52);
}

.product-info {
  width: 30vw;
  align-items: center;
  justify-content: center;
}

.quantity, .cost, .clean {
  width: 15vw;
  justify-content: end;
  align-self: right;
  color: #344E41;
}

.p, .ca, .co {
  display: none;
}

.product-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.next {
  color: white;
  font-size: 17px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 100px; */
  align-items: right;
  gap: 3px;
}

.button-clean {
  width: 130px;
  padding: 10px;
  background-color: rgb(182, 73, 52);
  border-radius: 5px;
  border: white solid 1px;
  font-size: 16px;
  color: white;
}

.to-pay {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px, 0px;
  align-items: flex-end;
  padding: 15px 0px;
  gap: 10px;
}

.end {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100px;
  justify-content: space-between;
  padding: 10px 0px;
}

.total {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.pay {
  width: 150px;
  display: inline-block;
  background-color: white;
  border: white;
  color: rgb(182, 73, 52);
  font-weight: 900;
  padding: 10px;
  margin-top: 10px;
  font-size: 18px;
  border-radius: 5px;
  transition-duration: 10ms;
}


/* ----------RESPONSIVE-------- */

/* ------TABLET------ */

@media (min-width:481px) {

  .product {
    justify-content: right;
  }
  
  .details {
    flex-direction: row;
    justify-content: center;
  }

  .mobile {
    display: none;
  }
  
  .p, .ca, .co {
    display: block;
    font-weight: bold;
    color: white;
  }
  
}
