@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
  }

  html{
    height: 100%;
  }

  body{
    font-family: "lora";
    font-size: 1.2rem;
    min-height: 100%;
  }

  .grid-conteiner > *{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
  }
.titulo{
    color:#3A5A40;
    font-size: 70px;
    text-align: center;
}


  .buscar{
    border-radius: 25px;
    border: gray solid 3px;
}

  .links-generales{
    color: black;
    margin: 5vh;
    font-size: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

  .grid-conteiner{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "navbar"
    "main"
    "sidebar"
    "footer";

  }