/*  
Colores 
color:#DAD7CD;
color:#A3B18A;
color:#588157;
color:#3A5A40;
color:#344E41;
color: #F0CA7A;
color: #988AB1;
color: #805781; */

*{
    margin: 0;
    padding: 0;
    font-family:"Roboto";
    box-sizing: border-box;
    list-style-type: none
}

body {
    width: 100vw;
    margin: 0px auto;
    background-color: #E5F7E4;
}

main {
  background-color: #E5F7E4;
}

/* -------------HEADER------------- */

.nav-bar, .nav-search {
    display: none;
  }
  
.bottom-nav {
  width: 108vw;
    padding: 7px 15vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    background-color: #E5F7E4;
    font-size: 25px;
    color: #344E41;
    gap: 50px;
    z-index: 5;
}
.fa-solid{
  color: #344E41; ;
}
.fa-bars{
  color: #344E41;
}
.main-banner-image {
    width: 100vw;
    height: 200px;
    background-image: url("../Images/main-banner-terra.png");
    background-size: cover;
}

/* .to-fix {
    position: relative;
} */

.logo-white {
    width: 200px;
    position: absolute;
    right: 29px;
    top: 70px;
    z-index: 1;
}

/* -------------DETALLE PRODUCTO------------- */

h3, h2 {
    color: #344E41;
    font-weight: 700;
}

p {
  color: #344E41;
}

.return {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #344E41; 
    margin: 25px 10vw 0px 10vw;
    font-size: 17px;
}

.return i {
  color: #344E41;
}

.cost {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product {
    width: 100vw;
    padding: 30px 10vw 10px 10vw;
    /* background-color: #A3B18A; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px, 0px;
    align-items: center;
    justify-content: center;
}

.product-image {
    width:400px;
    margin-bottom: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 5px;
    /* padding-top: 10px; */
}

.user-info {
  display: flex;
  flex-direction: column;
}

.Logout {
  display: inline-block;
  background-color: #588157;
  border: #588157;
  color: white;
  font-weight: 500;
  padding: 7px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  transition-duration: 10ms;
  text-decoration: none;
  margin-left: 10px;
}

.admin-edit {
  display: inline-block;
  background-color: #988AB1;
  border: #988AB1;
  color: white;
  font-weight: 500;
  padding: 7px;
  margin-top: 10px;
  font-size: 15px;
  border-radius: 5px;
  transition-duration: 10ms;
  text-decoration: none;
  margin-left: 10px;
}

.name {
    display: flex;
    gap: 20px;
}

h4 {
    margin-left: 5px;
}

.add {
    display: inline-block;
    background-color: #988AB1;
    border: #988AB1 solid 1px;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    transition-duration: 10ms;
    opacity: 100%;
    color: white;
}

.select {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 5px;
}

.quantity {
    display: inline-block;
    background-color: white;
    border: grey solid 1px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.add-cart, .edit, .delete {
    display: inline-block;
    background-color: #588157;
    border: #588157;
    color: white;
    font-weight: 900;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    border-radius: 5px;
    transition-duration: 10ms;
    text-decoration: none;
}

.social i {
    font-size: 25px;
    width: 30px;
    height: 30px;
    color: #344E41;
    margin: 10px 0px;
    align-items: center;
}

/* -------------DETALLE INFO------------- */

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
    width: 250px;
  }
  
  /* .img-fit {
    width: 250
  } */

  .product-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 150px;
  }
  
  .product-info {
    margin: 10px;
  }
  
  .product-description {
    font-size: 20px;
    color: white;
    margin: 0px 5px;
    font-weight: normal;
    margin-top: 5px;
  }

  .related-title {
    font-size: 25px;
    color: white;
  }

  .related-products {
    width: 100vw;
    padding: 30px 10vw 20px 10vw;
    background-color: rgb(182, 73, 52);
  }

  .ltd-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 74px;
  }


.description, .opinion {
    margin-top: 15px;
}

/* .edit-logout {
  margin: ;

} */

/* -------------FOOTER------------- */




/*--------------TABLET------------*/
@media (min-width:481px) {
  .nav-bar, .nav-search {
    display: none;
  }
  
    .logo-white {
        right: 29px;
        top: 90px;
    }
    
}

@media (min-width:800px) {

    
    
   
    .product {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
    }
}


/*--------------DESKTOP------------*/
@media (min-width:769px) {

    .logo-white {
        width: 200px;
        position: absolute;
        right: 322px;
        top: 100px;
    }

    .nav-search {
        padding: 0px 7vw;
    }
    
    .bottom-nav {
        display: none;
    }

    .form {
        width: 250px;
    }

    .input {
        width: 200px;
    }

    .hecho-con-amor {
        margin-top: 0px;
      }
}
