* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none
}

body{
   background-image:url(/Images/fondo-register.jpg);
   background-size: cover;
}


.main-content {
   display: flex;
   justify-content: center;
}

.logo {
  width: 250px;
}

.register {
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #988AB1;
    /* padding: 66px; */
    position: absolute;
    opacity: 95%;
    top: 78px;
    border-radius: 4px;
    padding-left: 83px;
    padding-right: 83px;
    padding-top: 36px;
    padding-bottom: 25px;
}

.form-title, .form-title2 {
   font-family: roboto;
   font-size: 20px;
   color: white;
   margin-bottom: 10px;
}

form {
   display: flex;
   flex-direction: column;
}

.fa-solid {
   left: 3px;
    padding-right: 5px;
    color: #344E41;
    position: relative;
    top: 0px;
}
.fa-cart-shopping, .fa-user{
   position: relative;
    top: 4px;
}

.icon-header {
   color: white;
}

.icon-register {
  background-color: white;
  border: white solid 1px;
  padding: 5px;
  padding-left: 7px;
  font-size: 14px;
  border-radius: 15px;
  margin: 10px 0px;
  width: 260px;
}

.link-sub {
   color: #640aa1;
   text-decoration: underline;
}

input {
  border: white;
  width: 210px;
  padding-left: 8px;
  border-left: #344E41 solid 1px;
  font-size: 15px;
  color: #344E41;
  font-family: roboto;
}

.input-image {
   border: white;
   width: 150px;
   padding-left: 8px;
   font-size: 15px;
   color: #344E41;
   font-family: roboto;
   /* display: none; */
}
 small{
   display: inline-block;
   /* width: 300px; */
   color: purple;
   text-align: left;
   font-style: italic;
   font-size: 14px;
}
.error-message{
   display: inline-block;
   /* width: 300px; */
   color: purple;
   text-align: left;
   font-style: italic;
   font-size: 14px;
}

.register-button {
   width: 200px;
   margin-top: 10px;
   border: #344E41;
   border-radius: 18px;
   background-color: #344E41;
   color: white;
   padding: 10px;
   font-size: 16;
   font-family: roboto;
   font-size: 16px;
   /* left: 1px; */
   position: relative;
   left: 31px;
}


.otros-login{
   margin: 10px 0px;
   color: white;
   line-height: 25px;
}

.with-love {
   position: relative;
   color: white;
   margin-top: 40px;
   /* bottom: 10px;
   left: 20px; */
}

.fa-leaf {
   color: white;
}

.nav-search{
   display: none;
}

.bottom-nav {
   width: 108vw;
   padding: 7px 15vw;
   display: flex;
   justify-content: space-between;
   position: fixed;
   bottom: 0px;
   background-color: #E5F7E4;
   font-size: 25px;
   color: #344E41;
   gap: 50px;
   z-index: 5;
 }
 .fa-bars{
   color: #344E41;
 }


@media (min-width:800px){
   
.bottom-nav{
   display: none;
}

.label {
text-decoration: none;
list-style: none;
color: white;
border-right: 1px white solid;
padding-right: 11px;
}

.label-icon {
  text-decoration: none;
  list-style: none;
  color: white;
  padding-right: 10px;
}

.nav-bar {
  display: flex;
  padding: 10px 0px;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
}

.nav-search {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 3vw;
  background-color: #805781;
  color: white;
  /* height: 50px; */
  position: fixed;
  z-index: 2;
}

.form {
   background-color: white;
   border: white solid 1px;
   padding: 5px;
   padding-left: 7px;
   font-size: 14px;
   border-radius: 15px;
   /* margin: 10px 0px; */
   width: 250px;
   position: relative;
   right: 104px;
}

.fa-magnifying-glass {
  color: #344E41;
}
.icon-user-cart{
  display: flex;
  gap: 15px;
  font-size: 22px;
  }
.input {
  border: white;
width: 200px;
padding-right: 5px;
border-right: grey solid 1px;
font-size: 15px;
color: grey;
font-family: roboto;
}

.create{
   background-color: #344E41;
    border: #805781 solid 1px;
    padding: 8px;
    font-size: 13px;
    border-radius: 6px;
    transition-duration: 10ms;
    opacity: 100%;
    color: white;
    text-decoration: none;
}


}
   

