* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#E5F7E4 ;
  font-family:"Roboto";
}
/* Colores de la pagina  */
.color{
  color:#DAD7CD;
  color:#A3B18A;
  color:#588157;
  color:#3A5A40;
  color:#344E41;
  color: #F0CA7A;
  color: #988AB1;
  color: #805781;
}



