<head>
    <%- include('partials/header.ejs') %>
        <title>Error</title>
        <link href="../../">
</head>

<body>


    <div class="error">

        <!-- <style>
            display="flex"  justify-content: center;
  width: 50px;

           </style>  -->

        <img href="../views/users/index.ejs"
            src="https://cdn.dribbble.com/users/3038056/screenshots/8112684/media/b4f6a4d8af3c0e89957ea29cf61c6e2c.gif"
            alt="aca va la imagen">

    </div>

    <footer>

        <%- include('partials/footer.ejs') %>
    </footer>

</body>