<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head.ejs')  %> 
    <title>Listado de productos</title>
    <link rel="stylesheet" href="css/productList.css">
</head>
<body>
    <header>
        <%- include('./partials/header.ejs')  %> 
    </header>
    
    <main>
        <section class="catalogue">
            <h3 class="cat-titles">Explora todo nuestro catálogo --->>></h3>

            <section class="ct-products">

                <article class="product-item">
                    <img class="product-img" src="/Images/product-ave-paraiso.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Ave del paraíso</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-philodendron-white-knight.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Philodendron</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-syngonium.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Syngonium</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-begonia-maculata.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Begonia maculata</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-ave-paraiso.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Ave del paraíso</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-philodendron-white-knight.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Philodendron</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-syngonium.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Syngonium</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-begonia-maculata.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Begonia maculata</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-ave-paraiso.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Ave del paraíso</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-philodendron-white-knight.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Philodendron</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-syngonium.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Syngonium</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>

                <article class="product-item">
                    <img class="product-img" src="/Images/product-begonia-maculata.png" alt="">
                    <div class="product-info">
                        <h2 class="product-description">Begonia maculata</h2>
                        <p class="price">50 USD</p>
                        <button class="add">Agregar <i class="fa-solid fa-cart-plus"></i></button>
                    </div>
                </article>
            
            </section>
    </main>

    <footer>
        <%- include('./partials/footer.ejs') %> 
    </footer>
</body>
</html>