<link rel="stylesheet" href="css/footer-partial.css">

<footer>
  <section class="foot">
    <ul class="footer-info">
      <li class="terms">Términos y condiciones</li>
      <li class="terms">Preguntas frecuentes</li>
      <li>Contacto</li>
    </ul>
    <p class="hecho-con-amor">
      Hecho con <i class="fa-solid fa-leaf"></i> por e-Terra Team
    </p>
  </section>
</footer>