<link rel="stylesheet" href="/css/footer-partial.css">

<footer>
  <section class="foot">
    <ul class="footer-info">
      <li class="terms">Términos y condiciones</li>
      <li class="terms">Preguntas frecuentes</li>
      <li>Contacto</li>
    </ul>

    
      <div class="footer-icons">
      <h3 class="footer-title">Seguinos</h3>
        <ul class="footer-social-bar">
          <li class="social-twiter">
            <a href="#" class="icon-container"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li class="social-instagram">
            <a href="#" class="icon-container"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li class="social-facebook">
            <a href="#" class="icon-container"><i class="fa-brands fa-facebook"></i></a>
          </li>
        </ul>
      </div>
    <ul>
    <li class="hecho-con-amor">Hecho con <i class="fa-solid fa-leaf"></i> por e-Terra Team
    </li>
    <li>
      <h4>Copyright © 2022-2023 Todos los derechos reservados.</h4>
    </li>
  </ul>
  </section>
</footer>