<link rel="stylesheet" href="/css/header-partial.css">

<section class="nav-search">
    <ul class="nav-bar">
      <li><a class="label" href="/">Home</a></li>
      <li><a class="label" href="/users/register">Registro</a></li>
      <li><a class="label" href="/products/detail">Producto</a></li>
      <li><a class="label" href="/products/list">Catálogo</a></li>
    </ul>
    <div class="form" action="#" method="get">
      <input
        class="input"
        type="text"
        readonly
        value="Buscar plantas y productos"
      />
      <span class="submit"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></span>
    </div>
      <div class="icon-user-cart">
        <!-- <a class="create" href="/products/create">Crear</a> -->
      <li>
        <a class="label-icon3" href="/users/login" class="user"
          ><i class="icon-header fa-solid fa-user"></i
        ></a>
      </li>
      <li>
        <a class="label-icon3" href="/products/cart" class="cart"
          ><i class="icon-header fa-solid fa-cart-shopping"></i
        ></a>
      </li>
    </div>
    </ul>

    
  </section>

  <div>
    <ul class="bottom-nav">
      <li class="bottom"><a class="label-btm" href="/"><i class="fa-solid fa-house"></i></a></li>
      <li class="bottom"><a class="label-btm" href="/users/register"><i class="fa-solid fa-user"></i></a></li>
      <li class="bottom"><a class="label-btm" href="/productList"><i class="fas fa-bars"></i></a></li>
      <li class="bottom"><a class="label-btm" href="/products/cart" class="user"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
  </div>

  <div class="main-banner-image"></div>
  <img class="logo-white" src="/Images/logo-blanco.png" alt="" />