<link rel="stylesheet" href="css/header.css">

<section class="nav-search">
    <ul class="nav-bar">
      <li><a class="label" href="/index">Home</a></li>
      <li><a class="label" href="/register">Registro</a></li>
      <li><a class="label" href="/ProductDetail">Producto</a></li>
      <li>
        <a class="label-icon" href="/login" class="carrito"
          ><i class="fa-solid fa-user"></i
        ></a>
      </li>
      <li>
        <a class="label-icon" href="/ProductCart" class="user"
          ><i class="fa-solid fa-cart-shopping"></i
        ></a>
      </li>
    </ul>

    <div class="form" action="#" method="get">
      <input
        class="input"
        type="text"
        readonly
        value="Buscar plantas y productos"
      />
      <span class="submit"
        ><i class="fa-solid fa-magnifying-glass"></i
      ></span>
    </div>
  </section>

  <div>
    <ul class="bottom-nav">
      <li class="bottom"><a class="label" href="/index"><i class="fa-solid fa-house"></i></a></li>
      <li class="bottom"><a class="label" href="/register"><i class="fa-solid fa-user"></i></a></li>
      <li class="bottom"><a class="label" href="/register"><i class="fas fa-bars"></i></a></li>
      <li class="bottom"><a class="label-icon" href="/ProductCart" class="user"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
  </div>

  <div class="main-banner-image"></div>
  <img class="logo-white" src="/Images/logo-blanco.png" alt="" />