<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1 style="color:blue">Probando el perfil de usuario</h1>
<span>
    <%= locals.userLogged.name %>
</span>
<br>
<span>
    <%= locals.userLogged.email %>
</span>

<a href="/">home</a>
</body>
</html>