<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Registro</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>

    <main>
      <section class="main-content">
        <div class="main-image-container">
          <!-- <img class="main-image" src="/Images/register-img.png" alt=""> -->
        </div>

        <div class="register">
          <a href="/index" class="logo"><img class="logo" src="/Images/logo-blanco.png" alt=""></a>
          <!-- <h3 class="form-title2">¡Crea tu cuenta!</h3> -->
          <h1 class="form-title">¡Creá tu cuenta!</h1>
        
          <form action="/login" method="post">
            
            <label class="icon-register">
                <i class="fa-solid fa-envelope"></i>
            <input type="text" name="e-mail" placeholder="Escribe tu e-mail" required/></label>
            
            <label class="icon-register">
              <i class="fa-solid fa-user"></i>
            <input type="text" name="Usuario" placeholder="Nombre de usuario" required/></label>
            
            <label class="icon-register">
              <i class="fa-solid fa-lock"></i>
            <input type="password" name="contraseña" placeholder="Contraseña" required/></label>

            <label class="icon-register">
                <i class="fa-solid fa-check"></i>
            <input type="password-conf" name="contraseña-conf" placeholder="Confirmar contraseña" required/></label>

            <label class="icon-register">
                <i class="fa-solid fa-mobile-screen"></i>
            <input type="cel" name="cel" placeholder="Celular (opcional)" required/></label>

            <button class="register-button" type="submit">Crear cuenta</button>
          </form>
        
          <div class="otros-login">
            <div class="registro">¿Ya tenés cuenta? <a class="link-sub" href="/login">Iniciá sesión</a></div>
          </div>

          <p class="with-love">
            Creado con <i class="fa-solid fa-leaf"></i> por e-Terra Team
          </p>
        </section>
      </div>
    </main>
  </body>
</html>