<%- include('../partials/header.ejs') %>
<head>
  <link rel="stylesheet" href="/css/listas-CRUD.css" />
</head>
<body>
  <figure>
      <img src="/Images/logo-blanco.png" alt="Logo Terra">
  </figure>
  <h1>USUARIOS</h1>
  <br>
  <p>
      <a href="/src/views/users/index.ejs">INICIO</a>
  </p>
  <br>
  <ul>
      <% for( let i = 0; i < User.length; i++ ) { %>
      <li>
        <a href="/<%= [i].id %>"><%= [i].title %></a>
      </li>
      <% } %>

  </ul>
</body>

<footer><%- include('../partials/footer.ejs') %></footer>

